:root {
    --bg: #1e1e1e;
    --panel: #252526;
    --panel-2: #2d2d30;
    --border: #3e3e42;
    --text: #d4d4d4;
    --muted: #858585;
    --accent: #0078d4;
    --accent-hover: #1f8fff;
    --error: #f14c4c;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: var(--bg);
    color: var(--text);
    font-family: Inter, system-ui, sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Top Bar */

.toolbar {
    min-height: 52px;
    height: 2.5rem;
    background: var(--panel);
    border-bottom: 1px solid var(--border);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    padding: 0 16px;
    overflow: hidden;
}

.container {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
}

#name {
    user-select: text;
    background-color: var(--panel);
    border: none;
    font-size: 1rem;
    field-sizing: content;
    max-width: 20rem;
    color: var(--muted);
}

#name:focus,
#name:hover {
    color: white;
    border: none;
    outline: none;
}

.select-container {
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    padding-right: 0;
    padding-left: 10px;
    border-radius: 8px;
    gap: 5px;
}

/* Buttons */

.secondary {
    --accent: #1a1a1a;
    --accent-hover: #1f1f1f;
}

.btn {
    border: none;
    background: var(--accent);
    color: white;

    padding: 10px 16px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    gap: 8px;

    cursor: pointer;
    transition: .2s;
    font-size: 1rem;
}

.btn:hover {
    background: var(--accent-hover);
    transform: translateY(-1px);
}

.btn:active {
    transform: translateY(0);
}

select,
::picker(select) {
    appearance: base-select;
    border: none;
    border-radius: 8px;
}

select::picker-icon {
    transition: all 0.2s;
}

select:open::picker-icon {
    rotate: 180deg;
}

.select {
    --accent: #1a1a1a;
    --accent-hover: #1f1f1f;

    border: none;
    background: var(--accent);
    color: white;

    padding-block: 10px;
    padding-right: 16px;
    padding-left: 8px;
    border-radius: 0 8px 8px 0;

    display: flex;
    align-items: center;
    gap: 8px;

    cursor: pointer;
    transition: .2s;
    font-size: 1rem;
}

.select:hover {
    background-color: #1f1f1f;
}

option {
    background-color: #1a1a1a;
    color: white;
    border: 2px solid #2f2f2f;
    border-bottom: none;
    border-top: none;
}

option:checked {
    background-color: #2f2f2f;
}

option:not(:checked) {
    color: var(--muted)
}

option:first-child {
    border: 2px solid #2f2f2f;
    border-bottom: none;
}

option:last-child {
    border: 2px solid #2f2f2f;
    border-top: none;
}

option:hover {
    background-color: #1f1f1f;
}


/* Main Layout */

.workspace {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Editor */

#editor {
    flex: 1;
    min-height: 0;
}

/* Console */

.console {
    position: absolute;
    height: 40dvh;
    width: 100%;
    bottom: 0;

    background: #181818;
    border-top: 1px solid var(--border);

    display: flex;
    flex-direction: column;
}

.console-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 14px;

    background: var(--panel);
    border-bottom: 1px solid var(--border);

    font-size: 1.25rem;
    font-weight: 600;
    color: var(--muted);
    overflow: hidden;
}

#output {
    flex: 1;

    overflow-y: auto;

    padding: 14px;

    font-family: Consolas, Monaco, monospace;

    font-size: 1rem;
    line-height: 1.25;
    cursor: text;

    white-space: pre-wrap;
    word-break: break-word;

    scroll-behavior: smooth;
}

.error {
    color: #cc0000;
    font-weight: bold;
}

/* Scrollbars */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

/* Optional Title */

.title {
    display: flex;
    align-items: center;
    color: var(--muted);
    font-size: 1.25rem;
    margin-right: auto;
}

#loading {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background-color: #1e1e1e;
    position: absolute;
    height: 100dvh;
    width: 100%;
}

.loader {
    margin-top: 0.5em;
    height: 1em;
    width: 1em;
    border: 6px solid white;
    border-bottom-color: #1e1e1e;
    border-radius: 50%;
    animation: spin infinite 1s linear;
}

.fade {
    animation: fade-out 1s linear;
}

@keyframes spin {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.hotbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;
    position: fixed;
    background-color: var(--panel-2);
    border: 1px solid var(--border);
    border-radius: 2rem;
    padding: 1rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.dpad {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .125rem;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: .125rem;
}

.sm-btn {
    background-color: var(--accent);
    color: white;

    height: 2rem;
    width: 2rem;
    padding: .5rem;

    border: none;
    border-radius: .25rem;

    font-size: 1rem;

    cursor: pointer;
    touch-action: manipulation;
}

.dpad button:active {
    background-color: var(--accent-hover);
    transform: scale(.95);
}

.hb-container {
    display: flex;
    flex-direction: column;
    gap: .125rem;
}

input[type="file"] {
    display: none;
}